<h2>Name: <%=@pirate.name%></h2>
<h2>Weight: <%=@pirate.weight%></h2>
<h2>Height: <%=@pirate.height%></h2>

<%@ships.each do |ship|%>
    <h2>Name:<%=ship.name%></h2>
    <h2>Type:<%=ship.type%></h2>
    <h2>Booty:<%=ship.booty%></h2>
    <%end%>
